@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity)) /* #f1f5f9 */;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity)) /* #334155 */;
}
